html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url("http://lamcdn.net/www.furfur.me/gui/bg-775a1b197171c8123cc6400c9c484cc5b66372c742a6a0a906294061aa203776.jpg") center;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    padding: 0 0 0 0;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}
.header a{
    color: white;
    display: block;
    text-decoration: none;
}
.header a:hover{
    text-decoration: none;
}
.header .menu {
    border: 2px solid white;
    height: 100%;
}
.header .menu:hover {
    border: 2px solid #38dcff;
    color: #38dcff;
}
.header .menu:hover a{
    color: #38dcff;
}

.header .logo {
    /*border-bottom: 2px solid white;*/
    /*border-top: 2px solid white;*/
    border: 2px solid white;
    height: 100%;
}

.header .logo:hover {
    border: 2px solid #38dcff;
    color: #38dcff;
}
.header .logo:hover a{
    color: #38dcff;
}

.header .login {
    border: 2px solid white;
    height: 100%;
}

.header .login:hover {
    border: 2px solid #38dcff;
    color: #38dcff;
}
.header .login:hover a{
    color: #38dcff;
}
.container {
    padding: 0 0 0 0;
}

.pinned {
    height: 350px;
    padding: 0 0 0 0;
    color: white;
}


.overtext {
    margin: 80px auto 0;
    width: 500px;
}
.pinned h1{
    text-transform: uppercase;
    font-size: 50px;
    border-bottom: 2px solid white;
}
.pinned .description {
    font-size: 18px;
}
.pinned .category {
    text-transform: uppercase;
    font-size: 14px;
    color: #d9d6d2;
}
.posts {
    padding:0 0 0 0;
    margin-top: 0px;
}

.wrapper-post {

}

.post {
    padding:0 0 0 0;
}

.post-text {
    margin-top: 70%;
    background-color: white;
    text-transform: uppercase;
    padding-top: 25px;
}

.post-text-inverse {
    margin-top: 0;
    background-color: white;
    text-transform: uppercase;
    padding-top: 25px;
}


.post-text h2{
    margin-top: 10px;
}
.post-text span{
    color: #bfbcb8;
}

.footer {
    margin-top: 30px;
    height: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    padding: 0 0 0 0;
    border: 2px solid white;
}

.footer .copyright{
    height: 100%;
}

.footer .quote{
    height: 100%;
    font-size: 18px;
}

.footer .social{
    height: 100%;
}
.footer .social i{
    margin-left: 15px;
}
.footer-bot {
    padding: 0 0 0 0;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    height: 30px;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
}