{% extends "blogpost/base.html" %}
{% block content %}
<div class="container">

	<div class="panel panel-default">
        <div class="panel-body registration-panel">
			<div id="legend">
				<legend class="">Sign up</legend>
			</div>
			<form class="form-horizontal" action="" method="post"
				enctype="multipart/form-data">
				{%  csrf_token %}
				{% include 'blogpost/form-template.html' %}
				<div class="control-group">
					<!-- Button -->
					<div class="controls registration-button">
						<button class="btn btn-success">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>
{% endblock content %}