{% extends "blogpost/base.html" %}
{% block content %}
    <div class="container">
        <div class="span3 well">
            <center>
            <img src="{{ profile.avatar }}" name="aboutme" width="140" height="140" class="img-circle">
            <h3>{{ profile.username }}<small>{{ profile.user_group }}</small></h3>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>{{ profile.facebook }}
            <i class="fa fa-twitter" aria-hidden="true"></i>{{ profile.twitter }}
            </center>
        </div>
    </div>
{% endblock %}