{% extends "blogpost/base.html" %}
{% block content %}
<div class="container">
{% if user.is_authenticated %}
	<div class="panel panel-default">
        <div class="panel-body registration-panel">
			<div id="legend">
				<legend class="">Edit {{ user.username }}'s Profile</legend>
			</div>
			<form class="form-horizontal" action="" method="post"
				enctype="multipart/form-data">
				{%  csrf_token %}
				{% include 'blogpost/form-template.html' %}
				<div class="control-group">
					<!-- Button -->
					<div class="controls registration-button">
						<button class="btn btn-success">Update profile</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% else %}
    <h3>You should Login or <a href="{% url 'blogpost:register' %}">Signup</a> to view this page</h3>
{% endif %}
</div>
{% endblock content %}