{# Load the tag library #}
{% load bootstrap3 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{# Bootstrap selector #}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet">
{# TinyMCE #}
<script src="//cloud.tinymce.com/stable/tinymce.min.js?apiKey=48i7v3kwhg4jefwbpntg5zeqf2ziedn4yw4zsqjsmw874c4c"></script>
<script>tinymce.init({
        selector:'#id_body',
        menubar: false,  // removes the menubar
        plugins: 'image, link, code, preview',
        toolbar: 'bold, italic, underline, aligncenter, quicklink, image, link, code, preview',
    });
</script>
{# Load CSS and JavaScript #}
{% bootstrap_css %}

{# Load static files #}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blogpost/css/style.css' %}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<title>{{ blog.title }} - {{ blog.description }}</title>
<!-- header nav -->
<nav class="navbar navbar-default ">
	<div class="container col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'blogpost:index' %}">{{ blog.title }}</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" action="#" method="GET, POST">
				<div class="form-group">
					<input type="text" id='search_req' class="form-control" name='request' placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><b>{{ user.username }}</b><span class="caret"></span></a>
					<ul class="dropdown-menu">
                        {% if user.profile.user_group == 'AD' %}
                            <li><a href="{% url 'blogpost:admin_view' %}">Admin panel</a></li>
                            <li role="separator" class="divider"></li>
						    <li><a href="{% url 'blogpost:add_post' %}">Add post</a></li>
                        {% elif user.profile.user_group == 'WR' %}
                            <li><a href="{% url 'blogpost:add_post' %}">Add post</a></li>
                        {% endif %}
						<li><a href="{% url 'blogpost:profile_edit' %}">Profile</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{% url 'blogpost:logout_user' %}">Logout</a></li>
					</ul>
				</li>
				{% else %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							<div class="row">
								<div class="col-md-12">
									<form class="form" role="form" method="post" action="
										{% url 'blogpost:login_user'%}" accept-charset="UTF-8" id="login-nav">
										{% csrf_token %}
										<div class="form-group">
											<label class="sr-only" for="username">Email address</label>
											<input type="text" class="form-control" id="username" name="username"
                                                   placeholder="Username" required>
										</div>
										<div class="form-group">
											<label class="sr-only" for="password">Password</label>
											<input type="password" class="form-control" id="password" name="password" placeholder="Password"
                                                   required>
											<div class="help-block text-right"><a href="#">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-success btn-block">Sign in</button>
										</div>
									</form>
								</div>
								<div class="bottom text-center">
									New here ? <a href="{% url 'blogpost:register' %}"><b>Sign up</b></a>
								</div>
							</div>
						</li>
					</ul>
				</li>
				{% endif %}
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
<!-- Content block -->
<div class="container col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
{% block content %}

{% endblock %}
</div>

<footer class="footer-bottom navbar-bottom row-fluid footer">
    <div class="black-line"></div>
	<div class="container">
		<p class="pull-left"> Copyright © 2016 - All Rights with {{ blog.title }} </p>
		<div class="pull-right">
			<ul class="nav nav-pills social">
				<i class="fa fa-instagram" aria-hidden="true"></i>
				<i class="fa fa-reddit" aria-hidden="true"></i>
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
			</ul>
		</div>
	</div>
</footer>


{% bootstrap_javascript %}
<script src="{% static 'blogpost/js/app.js' %}"></script>
{%  block javascript %}
{% endblock %}