{% extends "blogpost/base.html" %}
{% block content %}
<div class="container">
{% if user.is_authenticated and user.profile.user_group == 'AD' %}
    <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10 col-sm-offset-2 col-md-offset-2 col-lg-offset-1">
	<div class="panel panel-default">
        <div class="panel-body registration-panel">
			<div class="panel-heading">
				<h2 class="">Add new category</h2>
			</div>
            <div class="panel-body ">
                <form action="/add_category/" method="post" role="form" >
                    {%  csrf_token %}
                    <div class="form-group">

			    		<label for="id_title">Category name:</label>
                        <input id="id_title" class="form-control " type="text" name="title" value="" placeholder="Name of the new category">
                        <span class="input-error">{{ form.title.errors.as_text }}</span>
                    </div>

                    <input type="submit" value="Add new category" class="btn btn-info btn-block">

                </form>
            </div>
        </div>
	</div>
    </div>
    </div>
{% else %}
    <h3>You should Login or <a href="{% url 'blogpost:register' %}">Signup</a> to view this page</h3>
{% endif %}
</div>
{% endblock content %}