{% extends "blogpost/base.html" %}
{% block content %}
        <div class="pinned text-center col-lg-12 col-md-12 col-xs-12 col-sm-12" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ pinned.image }}); background-position: center center; ">
            <div class="overtext">
                <div class="category">{{ pinned.category }}</div>
                <h1>{{ pinned.title }}</h1>
                <div class="description">{{ pinned.body_preview }}</div>
            </div>
        </div>
    <div class="posts col-lg-12 col-md-12 col-xs-12 col-sm-12">
    {% for post in object_list %}
        {% if post.pinned == 'NO' %}
            <div class="wrapper-post" >
                <div class="post text-center col-lg-4 col-md-4 col-xs-12 col-sm-12" id="{{ post.slug }}" style="background: url({{ post.image }}); background-size: cover; background-position: center center;">
                    <div class="post-text" >
                        <span>{{ post.category }}</span>
                        <h2>{{ post.title }}</h2>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        var divWidth = $('.post').width();
        $('.post').height(divWidth);
        $('.post-text').height(divWidth * 0.3 - 25);
        $('.post-text:odd').addClass('post-text-inverse');
        $('.post-text-inverse').height(divWidth * 0.3 - 25);

        $('.post').mouseover(function() {

        } );
        function handler(ev) {
            var target = $(ev.target);
            var elId = target.attr('id');
            if ( target.is('.post') ) {
                console.log('this is ' + elId);
            }
        }
        $(".post").mouseover(handler);
    </script>
{% endblock %}