{% extends "blogpost/base.html" %}
{% block title %} Simple django blog CMS {% endblock %}
{% block content %}
<div class="container">
    <!-- Post -->
    <div class="jumbotron">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body_preview }}...</p>
        {% if post.author == user %}
            <a href="{%  url 'blogpost:update_post' slug=post.slug %}">
                <button class="btn btn-warning">Update</button>
            </a>
        {% endif %}
    </div>
    <div class="col-lg-12 col-xs-12 col-md-12">
        <p>{{ post.body|safe }}</p>
    </div>
    <!-- Comments -->
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="page-header">
                <h3 class="reviews">Comments:</h3>
            </div>
        </div>
    </div>

        {% for comment in comments %}
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left">
                        <img class="media-object img-circle" width="100" height="100" src=
                                "{{ comment.user.profile.avatar }}" alt="profile">
                    </a>
                    <div class="media-body">
                        <div class="well well-lg">
                            <h4 class="media-heading text-uppercase reviews">{{ comment.user.profile.username }}</h4>
                            <ul class="media-date text-uppercase reviews list-inline">
                                <li class="dd">{{ comment.posted|date:"d.m.y" }} [{{ comment.posted|time:"H:i" }}]</li>
                            </ul>
                            <p class="media-comment">
                                {{ comment.text }}
                            </p>
                            {% if user.is_authenticated and comment.user == user %}
                            <div class="comment-delete">
                            <form action="{%  url 'blogpost:comment_delete' slug=post.slug pk=comment.pk %}"
                                  method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-small pull-right">Delete comment</button>
                            </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </li>
            </ul>
        {% endfor %}

{% if user.is_authenticated %}
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="page-header">
                <h3 class="reviews">Add comment:</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-1 col-xs-offset-5 col-lg-offset-0">
        <img src="{{ user.profile.avatar }}" name="aboutme" width="75" height="75" class="img-circle">
    </div>
    <div class="col-xs-12 col-md-2 col-lg-11">
        <form action="" method="post" enctype="multipart/form-data">
				{%  csrf_token %}
                <div class="form-group ">
                        <textarea id="text_id" class="form-control " type="" name="text" placeholder="Type your comment..."></textarea>
                </div>
                <input type="submit" value="Add comment" class="btn btn-info col-lg-4 col-md-4 col-sm-6 col-xs-12">
        </form>
    </div>


{% endif %}

</div>

{% endblock content %}